
body {
    background-color: #fff;
    color: #333;
}

.form-container {
    margin: 116px 0px 0px 600px;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #337ab7;
}
.form-container h2 {
    color: #337ab7;
    text-align: center;
}
.form-group label {
    color: #337ab7;
    font-weight: bold;
}
.form-group select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #337ab7;
    border-radius: 4px;
}
.form-group input[type="submit"] {
    background-color: #337ab7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}
.copy {
    text-align: center;
    color: #337ab7;
}



header {
    background-color: rgb(0, 92, 183);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    z-index:10;
    } 
    
    
    
    
    .logo img {
    height: 50px;
    margin-right: 20px;
    }
    
    nav ul {
    list-style: none;
    margin: 0 30px 0 0px;
    padding: 0;
    display: flex;
    
    }
    
    nav li {    
    margin-right: 30px;
    }
    
    nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    }
    
    nav a:hover {
    color: rgb(225, 225, 225);
    }
    
    
    
    
    .footer {
        margin-top: 120px;
        background-color: rgb(0, 92, 183);
        color: #ffffff;
        padding: 0px;
        display: flex;
        margin-left: 0;
        width: 1600px;
        justify-content: space-between;
        align-items: center;
    }
    .left-footer {
        flex: 1;
        text-align: left;
        margin-left: 25px;
    }
    .middle-footer {
        flex: 1;
            text-align: center;
        }
        .right-footer {
            flex: 1;
            text-align: left;
        }
        .footer ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .footer ul li {
            margin-bottom: 10px;
            color: rgb(255, 255, 255);
        }
        .footer p {
            margin: 0;
        }
        .left-footer img {
            max-width: 100%;
            height: 75px;
            margin-bottom: 10px;
        }
        .copy {
            background-color: #000000;
            color: #ffffff;
            padding: 10px 10px 10px 10px;
            /* margin-top: -16px; */
            text-align: center;
            margin-bottom:-10px;
            width: 1600px;
            /* height: 40px;     */
        }	
        
        a:visited {
            color: rgb(255, 255, 255);
        }