/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 
}
body{
  background: rgb(251, 251, 251);
}



header {
  background-color: rgb(0, 92, 183);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  z-index:10;
}

.logo img {
height: 50px;
margin-right: 20px;
}

nav ul {
list-style: none;
margin: 0 30px 0 0px;
padding: 0;
display: flex;

}

nav li {    
margin-right: 30px;
}

nav a {
color: rgb(255, 255, 255);
text-decoration: none;
font-weight: bold;
font-size: 16px;
}

nav a:hover {
color: rgb(225, 225, 225);
}



.container{
  position: absolute;
  top: 22%;
  left: 37%;
  max-width: 430px;
  width: 100%;
  background: rgb(0, 92, 183);
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.container .form{
  padding: 25px;
}

/* .login form{
  margin-top: 222px;
} */

/* title login */
.form header{
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 18px;
}
 .form input{
   height: 60px;
   width: 100%;
   padding: 0 15px;
   font-size: 17px;
   margin-bottom: 1.3rem;
   border: 1px solid #ddd;
   border-radius: 6px;
}

 /*Forgot password?*/
.form a{
  font-size: 16px;
  color: rgb(0, 92, 183);
  text-decoration: none;
}

.form input.button{
  color: rgb(0, 92, 183);
  background: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}

.signup label{
  color: rgb(0, 92, 183);
  cursor: pointer;
}

.signup label:hover{
  text-decoration: underline;
  color: rgb(0, 44, 89);
}

/* 
================
drop box style 
================
*/
.container form .dropdown select {
  width: 200px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 92, 183);
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.dropdown select option {
  background-color: rgb(0, 92, 183);
  color: rgb(255, 255, 255);
}
/* ============================ */

.footer {
  margin-top: 720px;
  background-color: rgb(0, 92, 183);
  color: #ffffff;
  padding: 0px;
  display: flex;
  margin-left: -8px;
  width: 1608px;
  justify-content: space-between;
  align-items: center;
}
.left-footer {
  flex: 1;
  text-align: left;
  margin-left: 30px;
}
.middle-footer {
  flex: 1;
  text-align: center;
}
.right-footer {
  flex: 1;
  text-align: left;
}
.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer ul li {
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
}
.footer p {
  margin: 0;
}
.left-footer img {
  max-width: 100%;
  height: 75px;
  margin-bottom: 10px;
}
.copy {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 10px 10px 10px;
  /* margin-top: -16px; */
  text-align: center;
  margin-left: -8px;
  margin-bottom:-10px;
  width: 1608px;
  /* height: 40px;     */
}	

a:visited {
  color: rgb(255, 255, 255);
}